:root{
    --primary-bg:#ffffff;
    --primary-font-color:#000000eb;
    --seconday-font-color: rgb(215, 137, 34);
    --footer-bg:#000000;
    --footer-font-color:#ffffff;
    }
  
.navbar {
    /*background-color: #333;*/
    /*align-self: flex-end;*/
    padding-top:11px;
  }
 

  ul {
    list-style: none;
    margin: 0;
    padding: 1em;
    display: flex;
  }
  
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    display: block;
    padding-left: 1em;
    text-decoration: none;
    color: black;
  }
  a:hover {
    color:var(--seconday-font-color);
  }
 
  @media screen and (max-width: 1280px) and (max-height: 1752px) {
    /* CSS rules here */
    .navbar ul {
      display: none;
    }
    .navbar{
      position:relative;
    }
    .navmenu{
      display: block;
      background-color: rgba(246, 169, 69, 0.925);
      width:220px;
      z-index:1;
      position: absolute; /* Change 'absolute' to 'fixed' to keep it fixed to the viewport */
  top: 40; /* Position from the top */
  right: 0;
    }
    
      .navmenu ul{
        /*display:none;*/
        display:flex;
        flex-direction: column;
        padding-bottom:1em;
    
      }
      .navmenu li{
       padding:0.3em;
  
      }
      .navmenu a{
        position:relative;
      }
      .navmenu a:hover{
        color:var(--primary-bg);
      }

  }
  